/* color palette from <https://github.com/vuejs/theme> */
/*
  sm - 576 px
  md - 768 px
  lg - 992 px
  xl - 1200 px
*/

:root {
    --breakpoint-md: 768px;
    --container-width: 1400px;

    --color-black: #1B1B1B;
    --color-black-soft: #222222;
    --color-black-mute: #f2f2f2;
    --color-white: #FFFFFF;
    --color-white-soft: #f8f8f8;
    --color-white-mute: #f2f2f2;
    --color-grey: #EAEAEA;
    --color-dark-grey: var(--gray-800);
    --color-turquoise: #28AFB8;
    --color-turquoise2: #1c6f75;
    --color-blue: #01658F;

    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --text-primary-color: #2e2e2e;
    --text-light-color: #616161;
    --text-secondary-color: #9E9E9E;

    --success-color: var(--green-500);
    --error-color: var(--red-400);

    --link-hover-color: var(--color-turquoise);

    --font-size-content: 16px;
}

:root {
    --vt-c-white: var(--color-white);
    --vt-c-white-soft: var(--color-white-soft);
    --vt-c-white-mute: var(--color-white-mute);

    --vt-c-black: var(--color-black); /*#181818;*/
    --vt-c-black-soft: var(--color-black-soft);
    --vt-c-black-mute: var(--color-black-mute);

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-white);
        --color-background-soft: var(--vt-c-white-soft);
        --color-background-mute: var(--vt-c-white-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-justify-left {
    display: flex;
    justify-content: left;
}

.flex-justify-right {
    display: flex;
    justify-content: right;
}

.btn-d {
    background-color: var(--color-turquoise);
    border-color: var(--color-turquoise);
    border-radius: 10px;
    padding: 8px 32px;
    text-align: center;
}
.btn-d:hover {
    background-color: var(--color-turquoise2);
    border-color: var(--color-turquoise2);
}
.p-card .p-card-title {
    font-weight: normal;
}


/*fix*/
.p-toast {
    z-index: 9999;
}
.p-datepicker.p-component {
    z-index: 3;
}
/* .p-menubar .p-submenu-list {
z-index: 2;
} */
.p-card .p-card-body {
    padding: 14px;
}
.p-dropdown-panel {
    z-index: 1;
}

.btn-link {
    text-decoration: none;
}
.delete-btn:hover {
    background-color: red !important;
    color: white !important;
}
.resource-link {
    text-decoration: none;
    color: #495057;
}
.resource-link:hover {
    cursor: pointer;
    color: #2f78c0;
}
.app-form .field {
    width: 280px;
}
.app-form .field .p-inputtext {
    width: 100% !important;
}
.form-field-spacer {
    height: 5px;
}
.form-field-spacer-m {
    height: 10px;
}
.form-field-spacer-l {
    height: 20px;
}
.p-datepicker {
    z-index: 1;
}
.a-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.p-progress-spinner {
    width: 50px !important;
    height: 50px !important;
}

.text-link {
    text-decoration: none;
    color: inherit;
    .msg {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}
.app-link {
    text-decoration: none;
    color: var(--color-turquoise);
    &:hover {
        color: var(--color-turquoise2);
    }
}

.p-galleria .p-galleria-thumbnail-container {
    background-color: var(--color-black-soft);
}

@media print {
    body *:not(.print-container):not(.print-container *) {
        display: none;
        visibility: hidden;
    }
    p[align="center"] {
        text-align: center;
    }
    p[align="left"] {
        text-align: left;
    }
    p[align="right"] {
        text-align: right;
    }
    .print-container {
        visibility: visible !important;
        display: block !important;
    }
}
